<form class="needs-validation" novalidate [formGroup]="form" style="padding-top: 10px">
    <div class="form-row">
      <div class="col-sm-6">
        <label for="name">Nom</label>
        <input type="text" class="form-control" id="name" placeholder="Nome
        " formControlName="name" />
  
      </div>
      <div class="col-sm-6">
        <label for="address">Endereço</label>
        <input type="text" class="form-control" id="address"
          placeholder="Endereço" formControlName="address" />
      </div>
           
    </div>
    <div style="margin-top: 10px">
      <button type="submit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
    </div>
  </form>
  